body {
    overflow: hidden;
}

div {
    border: 1px solid silver;
}

.grid-container {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
  }

  .main-row {
      height: 80vh;
  }

  .head-row {
      height: 10vh;
  }
  
  .foot-row {
      height: 10vw;
  }
  .main-div {
      display: grid;
      grid-template-columns: 5vw 70vw 5vw;
      justify-content: center;
  }

  #search-div {
      height: 5vh;
      display: flex;
      justify-content: center;
  }

  